body {
  background-color: gray;
  position: relative;
  width: 1326px;
  height: 3099px;
}

.ellipse1 {
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 18.22px;
  left: 40px;
  top: 34.17px;
  border: 2px solid rgba(255, 180, 0, 0.8);
  border-radius: 100%;
}

.ellipse2 {
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 18.22px;
  left: 88px;
  top: 480.64px;
  border: 2px solid rgba(5, 255, 0, 0.8);
  border-radius: 100%;
}

div.Intro {
  position: relative;
  width: 970px;
  height: 531.9px;
  left: 335px;
  right: 21px;
  top: 0px;
  background: #FFFFFF;
}
div.Intro button {
  position: absolute;
  width: 154px;
  height: 51px;
  background: #FFB400;
  border-radius: 5px;
  left: 60px;
  top: 389.53px;
}
div.Intro button img {
  position: absolute;
  left: 108.67px;
  right: 16.67%;
  top: 19.81px;
  bottom: 17.59%;
  width: 10.67px;
  height: 10.37px;
  background: #2B2B2B;
}
div.Intro button span {
  white-space: nowrap;
  position: absolute;
  width: 65px;
  height: 29px;
  left: 32px;
  top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #2B2B2B;
}
div.Intro img {
  position: absolute;
  width: 325.72px;
  height: 522.89px;
  left: 586.68px;
  top: 9.11px;
}
div.Intro section {
  position: absolute;
  width: 500px;
  height: 134.4px;
  left: 60px;
  top: 105.92px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 123.6%;
  color: #2B2B2B;
}
div.Intro section span {
  color: #FFB400;
}

div.myservices {
  position: absolute;
  width: 970px;
  height: 726px;
  left: 335px;
  top: 531.9pxpx;
  background: #E5E5E5;
}
div.myservices span.service {
  position: absolute;
  width: 193px;
  height: 40px;
  left: 398px;
  top: 66px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #2B2B2B;
}
div.myservices span.servicetext {
  position: absolute;
  width: 438px;
  height: 68px;
  left: 266px;
  top: 138px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
}
div.myservices div.sound {
  position: absolute;
  width: 310px;
  height: 225px;
  left: 660px;
  top: 256px;
  background: #FFFFFF;
}
div.myservices div.sound img {
  position: absolute;
  width: 74px;
  height: 74px;
  left: 118px;
  top: 25px;
}
div.myservices div.sound span.SoundDesign {
  position: absolute;
  width: 120px;
  height: 22px;
  left: 102px;
  top: 122px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  text-transform: capitalize;
  /* Black */
  color: #2B2B2B;
}
div.myservices div.sound span.TextSound {
  position: absolute;
  width: 175px;
  height: 24px;
  left: 74px;
  top: 159px;
  /* Paragraph Progress - 15 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  /* Paragraph Font */
  color: #767676;
}
div.myservices div.uXdesign {
  position: absolute;
  width: 310px;
  height: 225px;
  left: 330px;
  top: 256px;
  background: #FFFFFF;
}
div.myservices div.uXdesign img {
  position: absolute;
  width: 74px;
  height: 74px;
  left: 121px;
  top: 28px;
}
div.myservices div.uXdesign span.titleuXdesign {
  position: absolute;
  width: 120px;
  height: 22px;
  left: 102px;
  top: 122px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  text-transform: capitalize;
  /* Black */
  color: #2B2B2B;
}
div.myservices div.uXdesign span.TextuXdesign {
  white-space: nowrap;
  position: absolute;
  width: 175px;
  height: 24px;
  left: 74px;
  top: 159px;
  /* Paragraph Progress - 15 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  /* Paragraph Font */
  color: #767676;
}
div.myservices div.webdevelopment {
  position: absolute;
  width: 310px;
  height: 225px;
  left: 0px;
  top: 256px;
  background: #FFFFFF;
}
div.myservices div.webdevelopment img {
  position: absolute;
  width: 74px;
  height: 74px;
  left: 121px;
  top: 28px;
}
div.myservices div.webdevelopment span.titlewebdevelopment {
  white-space: nowrap;
  position: absolute;
  width: 120px;
  height: 22px;
  left: 90px;
  top: 122px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  text-transform: capitalize;
  /* Black */
  color: #2B2B2B;
}
div.myservices div.webdevelopment span.Textwebdevelopment {
  white-space: nowrap;
  position: absolute;
  width: 134px;
  height: 24px;
  left: 88px;
  top: 159px;
  /* Paragraph Progress - 15 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  /* Paragraph Font */
  color: #767676;
}
div.myservices div.advertising {
  position: absolute;
  width: 310px;
  height: 225px;
  left: 660px;
  top: 501px;
  background: #FFFFFF;
}
div.myservices div.advertising span.titleadvertising {
  position: absolute;
  width: 99px;
  height: 22px;
  left: 105px;
  top: 31px;
  /* H4 - 18px */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  /* or 22px */
  text-transform: capitalize;
  /* Black */
  color: #2B2B2B;
}
div.myservices div.advertising span.Textadvertising {
  position: absolute;
  width: 260px;
  height: 78px;
  left: 25px;
  top: 75px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
}
div.myservices div.advertising a {
  /* ORDER NOW */
  white-space: nowrap;
  position: absolute;
  width: 69px;
  height: 14px;
  left: 112px;
  top: 183px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  /* Yellow */
  color: #FFB400;
}
div.myservices div.photography {
  position: absolute;
  width: 310px;
  height: 225px;
  left: 330px;
  top: 501px;
  background: #FFFFFF;
}
div.myservices div.photography img {
  position: absolute;
  width: 74px;
  height: 74px;
  left: 121px;
  top: 28px;
}
div.myservices div.photography span.titlephotography {
  position: absolute;
  width: 120px;
  height: 22px;
  left: 112px;
  top: 128px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  text-transform: capitalize;
  /* Black */
  color: #2B2B2B;
}
div.myservices div.photography span.Textphotography {
  white-space: nowrap;
  position: absolute;
  width: 175px;
  height: 24px;
  left: 70px;
  top: 159px;
  /* Paragraph Progress - 15 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  /* Paragraph Font */
  color: #767676;
}
div.myservices div.gamedesign {
  position: absolute;
  width: 310px;
  height: 225px;
  left: 0px;
  top: 501px;
  background: #FFFFFF;
}
div.myservices div.gamedesign img {
  position: absolute;
  width: 74px;
  height: 74px;
  left: 121px;
  top: 28px;
}
div.myservices div.gamedesign span.titlegamedesign {
  white-space: nowrap;
  position: absolute;
  width: 120px;
  height: 22px;
  left: 106px;
  top: 122px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  text-transform: capitalize;
  /* Black */
  color: #2B2B2B;
}
div.myservices div.gamedesign span.Textgamedesign {
  white-space: nowrap;
  position: absolute;
  width: 134px;
  height: 24px;
  left: 50px;
  top: 159px;
  /* Paragraph Progress - 15 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  /* Paragraph Font */
  color: #767676;
}

/*# sourceMappingURL=style.css.map */
